<%= simple_form_for [:city, @survey], html:{'data-controller':'flatpickr'} do |form| %>
  <div class="field">
    <%= form.input :title, label:"Titre du sondage", placeholder:"..." %>
    <%= form.input :overview, label:"Résumé du sondage", placeholder:"..." %>
    <%= form.input :start_date, as: :date, html5: true, label:"Date de début", input_html:{ data: {'flatpickr-target':"startdate", 'action':"click->flatpickr#startdatepick"} } %>
    <%= form.input :end_date, as: :date, html5: true, label:"Date de fin", input_html:{ data: {'flatpickr-target':"enddate", 'action':"click->flatpickr#enddatepick"} } %>
  </div>

  <div data-controller="nested-form" data-nested-form-index-value='QUESTION_RECORD'>
    <template data-nested-form-target='template' >
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div class="actions">
      <div data-nested-form-target="add_item" class='text-center'>
        <%= link_to "Ajouter une question", "#", data: { action: "nested-form#add_association" }, class:"btn btn-outline-primary mb-2" %>
      </div>
      <div class="text-center">
        <%= form.button :submit, "Valider le sondage", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
