<div class='nested-fields box' data-controller='dynamic-select'>
  <div class='form-group'>
    <%= form.select :answer_type,
        options_for_select(Question.answer_type_select, selected: form.object.answer_type),
        {class:"text-left"},
        'data-dynamic-select-target': 'select',
        'data-action': 'dynamic-select#selected', 'class':'text-left form-select' %>
  </div>

  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :title, placeholder: 'Question', class: 'form-control' %>

    <%= link_to "Supprimer question", "#", class:"btn btn-outline-secondary m-2", data: { action: "click->nested-form#remove_association" } %>
    <hr>
  </div>

  <div data-controller="nested-form" data-dynamic-select-target='choice' data-nested-form-index-value='ANSWER_RECORD'>
    <template data-nested-form-target='template'>
      <%= form.fields_for :options, Option.new, child_index: 'ANSWER_RECORD' do |option| %>

        <%= render 'option_fields', form: option %>
      <% end %>

    </template>

    <%= form.fields_for :options do |option| %>
      <%= render 'option_fields', form: option %>
    <% end %>

    <div data-nested-form-target="add_item">
      <%= link_to "Ajouter une option", "#", data: { action: "nested-form#add_association" }, class: 'btn btn-outline-secondary m-2' %>
    </div>
  </div>

  <div data-controller="nested-form" data-dynamic-select-target='long'>
  </div>
</div>
