<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Résultats du sondage: #{@survey.title}" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="survey-right-dashboard">

      <div class="card-box">
        <div class="dashboard-card">
          <h3>Nombre de participants</h3>
          <span class="highlight"><%= @survey.questions.first.answers.count %></span>
        </div>
        <div class="dashboard-card">
          <h3>Age moyen des participants:</h3>
          <span class="highlight"><%= @survey.mean_user_age %></span>
        </div>
        <div class="dashboard-card">
          <h3>Participation relative au dernier sondage:</h3>
          <% if @survey.id == 1 %>
            <span class="highlight"> + 50% </span>
          <% else %>
          <p> + <%= (@survey.questions.first.answers.count - Survey.find(@survey.id - 1).questions.first.answers.countSurvey.find(@survey.id - 1).questions.first.answers.count) %> </p>
          <% end %>
        </div>
      </div>

      <div class="dashboard-grid mt-5">
        <% @survey.questions.each do |question| %>
          <%= render 'question_chart', question: question %>
        <% end %>
      </div>



    </div>

  </div>


</div>
