<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Résultats du sondage: #{@survey.title}" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="survey-right-dashboard">

      <div class="card-box">
        <div class="dashboard-card">
          <h3>NOMBRE DE PARTICIPANTS</h3>
          <p><%= @survey.questions.first.answers.count %></p>
        </div>
        <div class="dashboard-card">
          <h3>AGE MOYEN DES PARTICIPANTS</h3>
          <p><%= @survey.mean_user_age.round(0) %> ans</p>
        </div>
      </div>

      <div class="dashboard-grid mt-5">
        <% @survey.questions.each do |question| %>
          <%= render 'question_chart', question: question %>
        <% end %>
      </div>



    </div>

  </div>


</div>
