<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Sondages" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="survey-right-dashboard">

    <div class="card-box">
      <div class="dashboard-card">
        <h3>Nombre de sondages réalisés avec succès:</h3>
        <span class="highlight"> <%= Survey.count + 62 %> </span>
      </div>
      <div class="dashboard-card">
        <h3>Nombre moyen de réponses</h3>
        <span class="highlight"> 3276 </span>
      </div>
      <div class="dashboard-card">
        <h3> Taux moyen de satisfaction </h3>
        <span class="highlight"> 84 % </span>
      </div>
    </div>

    <%= link_to "Nouveau sondage", new_city_survey_path, class:"btn btn-primary mb-3" %>
    <br>
    <br>

      <h3>Sondages actifs :</h3>

      <% @active_surveys.each do |survey| %>
        <%= link_to city_survey_path(survey) do %>
          <div class="card mb-4">
            <div class="card-header">
              <h5><%= survey.title %></h5>
            </div>
            <div class="card-body">
              <p>Identificateur: <%= survey.id %> </p>
              <p class="card-text"><%= survey.overview %></p>
              <%= link_to "Modifier sondage", edit_city_survey_path(survey), class:"mt-2 btn btn-outline-primary"%>
              <%= link_to "Visualiser résultats", city_survey_display_path(survey), class:" mt-2 btn btn-outline-primary"%>
              <% if survey.active? %>
                <%= link_to "Archiver sondage", city_survey_archive_path(survey), method: :PATCH, class:"mt-2 btn btn-outline-secondary"%>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <hr>
      <br>
      <br>

      <h3>Sondages inactifs :</h3>

      <% @inactive_surveys.each do |survey| %>
        <%= link_to city_survey_path(survey) do %>
          <div class="card mb-4">
            <div class="card-header">
              <h5><%= survey.title %></h5>
            </div>
            <div class="card-body">
              <p>Identificateur: <%= survey.id %> </p>
              <p class="card-text"><%= survey.overview %></p>
              <%= link_to "Modifier sondage", edit_city_survey_path(survey), class:"mt-2 btn btn-outline-primary"%>
              <%= link_to "Visualiser résultats", city_survey_display_path(survey), class:" mt-2 btn btn-outline-primary"%>
              <% if survey.active? %>
                <%= link_to "Archiver sondage", city_survey_archive_path(survey), method: :PATCH, class:"mt-2 btn btn-outline-secondary"%>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>


</div>
