<div class="card-comment mb-3">
  <div class="card-comment-left">
    <div class="card-comment-top">
      <%= comment.user.avatar.attached? ? (cl_image_tag comment.user.avatar.key, class: 'avatar') : (image_tag "avatar.png", class: 'avatar') %>
      <h5><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
    </div>
    <div class="card-comment-body">
      <p> <%= comment.content %> </p>
      <div class="card-comment-btns">
        <% if user_signed_in? && comment.user == current_user %>
          <%= link_to  edit_suggestion_comment_path(@suggestion, comment) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to comment_path(comment), method: :delete do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "votes">
    <% if defined?(namespace) %>
      <%= link_to city_comment_upvote_path(comment) do %>
        <i class="fa-solid fa-angle-up"></i>
      <% end %>
      <p><%= comment.weighted_score %></p>
      <%= link_to city_comment_downvote_path(comment) do %>
        <i class="fa-solid fa-angle-down"></i>
      <% end %>

    <% else %>

      <%= link_to comment_upvote_path(comment) do %>
        <i class="fa-solid fa-angle-up"></i>
      <% end %>
      <p><%= comment.weighted_score %></p>
      <%= link_to comment_downvote_path(comment) do %>
        <i class="fa-solid fa-angle-down"></i>
      <% end %>

    <% end %>
  </div>
</div>
