<div class="card-suggestion" id="suggestion-<%= suggestion.id %>">
  <div class="card-suggestion-left">
    <div class="card-suggestion-top">
      <%= suggestion.user.avatar.attached? ? (cl_image_tag suggestion.user.avatar.key, class: 'avatar'): (image_tag "avatar.png", class: 'avatar')%>
      <div class="card-suggestion-user-info">
        <h5><%= suggestion.title %></h5>
        <p> <%= suggestion.user.first_name %> <%= suggestion.user.last_name %> </p>
      </div>
    </div>
    <div class= "card-suggestion-body">
      <p class= "text"><%= suggestion.content[0, 50]%>... <span class="voir-plus">Voir plus</span></p>
    </div>
  </div>
  <div class= "votes">

    <% if defined?(namespace) && user_signed_in? %>

      <%= link_to city_suggestion_upvote_path(suggestion), class:"", data: { turbolinks: false } do %>
        <i class="fa-solid fa-angle-up"></i>
      <% end %>
      <p><%= suggestion.cached_weighted_score %></p>
      <%= link_to city_suggestion_downvote_path(suggestion), class:'', data: { turbolinks: false } do %>
        <i class="fa-solid fa-angle-down"></i>
      <% end %>

    <% elsif user_signed_in? %>
      <%= button_to suggestion_upvote_path(suggestion), disabled: (current_user.voted_for? suggestion), method: :get, data: { turbolinks: false } do %>
        <i class="fa-solid fa-angle-up"></i>
      <% end %>
      <p><%= suggestion.cached_weighted_score %></p>
      <%= button_to suggestion_downvote_path(suggestion), disabled: (current_user.voted_for? suggestion), method: :get, data: { turbolinks: false } do %>
        <i class="fa-solid fa-angle-down"></i>
      <% end %>

    <% end %>
  </div>
</div>
