<%= render "shared/top_header", titre: 'Accueil'%>

<% unless user_signed_in? %>
  <%= link_to "Se connecter", new_user_session_path, class:"btn btn-primary m-4" %>
<% end %>

<div class="container">
    <% if Survey.count > 0 %>
      <div class="notif">
        <h2 class="ml-4">Sondage en cours!</h2>
        <% Survey.all.each do |sondage| %>
        <%= link_to "Répondre", surveys_respond_path(sondage), class:"btn btn-secondary m-4" %>
        <% end %>
      </div>
    <% end %>

  <h2 class=“ml-4”>Top suggestions :</h2>
  <div class="horizontal-scroll">
    <%= render "shared/card_suggestion", suggestions: @suggestions%>
  </div>
  <%= link_to "Voir plus...", suggestions_path %>
  <h2 class=“ml-4”> Top Populumers :</h2>
  <%= render "shared/card_user", users: @users %>
</div>

<%= render "shared/btm_navbar" %>
