<%= render "shared/top_header", titre: 'Accueil'%>

<% unless user_signed_in? %>
  <%= link_to "Se connecter", new_user_session_path, class:"btn btn-primary m-4" %>
<% end %>

<div class="container">
  <h2 class="ml-4">Top suggestions :</h2>
  <%= render "shared/card_suggestion", suggestions: @suggestions%>
  <%= link_to "Voir plus...", suggestions_path %>
  <hr>
  <h2 class="ml-4"> Top Populumers :</h2>
  <%= render "shared/card_user", users: @users %>
</div>
