<%= render "shared/top_header", titre: 'Accueil'%>



<div class="container">
    <% if Survey.where(active?: true).count > 0 %>
      <div class="notif">
        <h2 class="ml-4">Sondage en cours!</h2>
        <% Survey.where(active?: true).each do |sondage| %>
        <%= link_to "Répondre", survey_respond_path(sondage), class:"btn btn-primary m-4" %>
        <% end %>
      </div>
    <% end %>

  <h2 class="ml-4 text-center"><i class="fa-solid fa-ranking-star"></i> Suggestions</h2>
  <div class="horizontal-scroll">
    <% @suggestions.each do |suggestion| %>
      <%= link_to suggestion_path(suggestion) do %>
        <%= render "shared/card_suggestion", suggestion: suggestion %>
      <% end %>
    <% end %>
  </div>

  <h2 class="ml-4 text-center"><i class="fa-solid fa-ranking-star"></i> Populumers</h2>
  <%= render "shared/card_user", users: @users %>

  <%= render "shared/mapbox", suggestions: @suggestions %>
</div>

<%= render "shared/btm_navbar" %>
