<%= simple_form_for @survey do |form| %>

  <h3>Paramètres du sondage</h3>

  <div>
    <%= form.input :title %>
    <%= form.input :overview %>
  </div>

    <h3>Création des questions</h3>

  <div data-controller="nested-form">

    <template data-nested-form-target="template">
      <%= form.fields_for :questions, Question.new, child_index: 'TEMPLATE_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-nested-form-target="add_question">
    <%= link_to "Ajouter une question", "#", data: { action: "nested-form#add_association"}  %>
    </div>

  </div>

  <%= form.button :submit %>
<% end %>
