<%= simple_form_for @survey do |form| %>
  <div class="field">
    <%= form.input :title %>
    <%= form.input :overview %>
    <%= form.input :start_date, as: :date, html5: true %>
    <%= form.input :end_date, as: :date, html5: true %>
  </div>

  <div data-controller="nested-form" data-nested-form-index-value='QUESTION_RECORD'>
    <template data-nested-form-target='template' >
      <%= form.fields_for :questions, Question.new, child_index: 'QUESTION_RECORD' do |question| %>
        <%= render 'question_fields', form: question %>
      <% end %>
    </template>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', form: question %>
    <% end %>

    <div data-nested-form-target="add_item">
      <%= link_to "Add Question", "#", data: { action: "nested-form#add_association" } %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
