<div class="container">

  <h1 class="my-5">Surveys index</h1>
  <%= link_to "Nouveau sondage", new_survey_path, class:"btn btn-primary mb-3" %>

  <% @surveys.each do |survey| %>
    <%= link_to survey_path(survey) do %>
      <div class="card mb-4">
        <div class="card-header">
          <h3><%= survey.title %></h3>
        </div>
        <div class="card-body">
          <p>ID: <%= survey.id %> </p>
          <p class="card-text"><%= survey.overview %></p>
          <%= link_to "Modifier sondage", edit_survey_path(survey), class:"btn btn-secondary"%>
          <%= link_to "Visualiser résultats", survey_display_path(survey), class:"btn btn-secondary"%>
          <% if survey.active? %>
            <%= link_to "Archiver sondage", survey_archive_path(survey), method: :PATCH, class:"btn btn-secondary"%>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
