<%= render "shared/top_header", titre: "Réponse sondage"%>

<div class="survey-respond">
  <div class="container">
    <div class="back">
      <%= link_to root_path do %>
        <i class="fa-solid fa-angle-left"></i>
      <% end %>
    </div>

    <h1> <%= @survey.title %> </h1>
    <hr>
    <br>
    <p> <%= @survey.overview %> </p>
    <br>
    <p class="diplay-5">Date de début: <%= @survey.start_date.strftime("%m/%d/%Y") %> </p>
    <p class="diplay-5">Date de fin: <%= @survey.end_date.strftime("%m/%d/%Y") %> </p>
    <br>
    <hr>
    <br>

    <ul>
      <% @survey.questions.each_with_index do |question, index| %>
        <li>
          Question n°<%= index + 1 %>: <%= question.title %>
          <br>
        </li>
        <% case question.answer_type %>
        <% when 'single_choice' %>
          <%= simple_form_for [question, answer = Answer.new] do |f| %>
            <% question.options.each do |option| %>
              <%= radio_button_tag 'option_id', option.id %>
              <%= option.title %>
            <% end %>
            <%= f.button :submit, "Valider", class:"m-2 btn btn-outline-primary" %>
          <% end %>
        <% when 'multiple_choice' %>
          <%= simple_form_for [question, answer = Answer.new] do |f| %>
              <% question.options.each do |option| %>
                <%= check_box_tag 'option_id', option.id %>
                <%= option.title %>
              <% end %>
            <%= f.button :submit, "Valider", class:"m-2 btn btn-outline-primary" %>
            <% end %>
        <% when 'long_answer' %>
          <%= simple_form_for [question, Answer.new] do |f| %>
            <%= f.input :answer_fields %>
            <%= f.button :submit, "Valider", class:"m-2 btn btn-outline-primary" %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </ul>
  </div>
</div>
