<div class="container">
  <%= link_to "Retour", surveys_path, class:"btn btn-primary"  %>
  <h1> <%= @survey.title %> </h1>
  <hr>
  <span class="diplay-5">Date de début: <%= @survey.start_date %> </span> ____ <span class="diplay-5">Date de fin: <%= @survey.end_date %> </span>
  <br>
  <br>
  <p> <%= @survey.overview %> </p>
  <hr>

  <ul>
    <% @survey.questions.each_with_index do |question, index| %>
      <li>
        Question n°<%= index + 1 %>: <%= question.title %>
        <% case question.answer_type %>
          <% when 'single_choice' %>
            <p>single</p>
            <% question.options.each do |option| %>
              <p>
              <%= radio_button_tag question.id, option.id %>
              <%= option.title %>
              </p>
          <% end %>
          <% when 'multiple_choice' %>
            <p>multiple</p>
            <% question.options.each do |option| %>
              <p>
              <%= check_box_tag question.id, option.id %>
              <%= option.title %>
              </p>
            <% end %>
          <% when 'long_answer' %>
            <p>long</p>
            <%= text_area_tag question.id %>
          <% else %>
          <p style="color:red;">You fucked</p>
          <% end %>
        </li>
      <% end %>
  </ul>

</div>
