<div data-controller="suggests-modal">

  <%= simple_form_for([@suggestion], data: {
                        suggests_modal_target: "form",
                        action: "submit->suggests-modal#send"
                      }) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :address %>
    <%= f.submit "Nouvelle suggestion", class: "btn btn-outline-primary"%>
  <% end %>

<br>

  <!-- Modal -->
  <div class="modal fade" id="SuggestsModal" tabindex="-1" aria-labelledby="OrderModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Félicitation</h5>
          </div>
          <div class="modal-body text-center" data-orders-modal-target="items">
            <h1>Félicitation votre suggestion a bien été publier !</h1>

            <button type="button" class="btn btn-lg btn-info" id="submitSuggest" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
  </div>

</div>
