<style>
  .modal:before {
    content: '';
    display: inline-block;
    height:30%;
    vertical-align: middle;
  }

  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
  }
</style>

<div data-controller="suggests-modal">

  <%= simple_form_for([@suggestion], data: {
                        suggests_modal_target: "form",
                        action: "submit->suggests-modal#send"
                      }) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :address %>
    <%= f.submit "Valider", class: "btn btn-outline-primary"%>
  <% end %>

<br>

  <!-- Modal -->
  <div class="modal fade" id="SuggestsModal" tabindex="-1" aria-labelledby="OrderModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center" data-orders-modal-target="items">
            <h1>Votre suggestion à bien été prise en compte !</h1>

            <button type="button" class="btn btn-lg" style="background-color: #038C7F;color:white;border-radius: 20px;" id="submitSuggest" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
  </div>

</div>
