<div data-controller="suggests-modal">

  <div class="back">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>
  </div>

  <%= simple_form_for @suggestion, html: {class:"form-mobile"} do |f| %>
    <%= f.input :title, label:"Titre" %>
    <hr>
    <%= f.input :content, label:"Contenu" %>
    <%= f.input :address, label:"Adresse" %>
    <%= f.input :photo, as: :file %>
  <%= f.submit "Valider", class: "btn btn-primary w-100 mt-4"%>
  <% end %>

  <br>

</div>
