<div class="container">

  <%= @suggestion.title %>

  <%= @suggestion.content %>

  <%= render "suggestion_votes/form",votes_count: @votes_count, suggestion: @suggestion, suggestion_vote: @suggestion_vote  %>

  <%= @suggestion.address %>
  <%= @suggestion.status %>



  <%= link_to "Back", suggestions_path,class: "btn btn-outline-primary mb-3" %>
</div>
