<div class="container">

  <%= @suggestion.title %>

  <%= @suggestion.content %>
  <%= @suggestion.votes %>
  <%= @suggestion.address %>
  <%= @suggestion.status %>

  <%= link_to "Back", suggestions_path,class: "btn btn-outline-primary mb-3" %>
</div>
