<div class="container">

  <%= @suggestion.title %>

  <%= @suggestion.content %>
  <%= @suggestion.votes %>
  <%= @suggestion.address %>
  <%= @suggestion.status %>
  <% @comments.each do |comment| %>
      <div class="my-card mb-3">
        <div class="card-body">
          <h5><%= comment.user.first_name %></h5>
          <hr>
          <p> <%= comment.content %></p>
        </div>
      </div>
  <% end %>

  <%= link_to "Back", suggestions_path,class: "btn btn-outline-primary mb-3" %>
</div>
