<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Suggestions citoyennes" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="right-dashboard" data-controller="slack" >
      <div class="center-dashboard">
        <h4 class="mb-4">Suggestions populaires</h4>

        <% @suggestions.each do |suggestion| %>

            <div data-action="click->slack#focus" data-id="<%= suggestion.id %>">
              <%= render "shared/card_suggestion", suggestion: suggestion, namespace: 'city' %>
            </div>

        <% end %>
      </div>

      <div class="far-right-dashboard" data-slack-target="showZone">
        <%= render 'suggestion_show', suggestion: @suggestion_focus, comment: Comment.new %>
      </div>

    </div>
  </div>
</div>
