<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Suggestions citoyennes" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="right-dashboard">
      <div class="center-dashboard">
        <h4 class="mb-4">Suggestions populaires</h4>

        <% @suggestions.each do |suggestion| %>
          <%= link_to suggestion_path(suggestion) do %>
            <%= render "shared/card_suggestion", suggestion: suggestion, namespace: 'city'%>
          <% end %>
        <% end %>
      </div>

      <div class="far-right-dashboard">
        <%= render 'suggestion_show', suggestion: @suggestion, comment: Comment.new %>
      </div>

    </div>
  </div>
</div>
